extends layout/main

block variables
	-var title = 'catalog 2'

block link
	link(rel="stylesheet" type='text/css' href="css/libs.css")

block content
	main.station-main
		.container 
			nav
				ul.breadcrumbs
					+breadcrumbs-item("Raddio.net", "#")
					+breadcrumbs-item("Top station", "#")
					+breadcrumbs-item("Page name active")
			.flex-wrap
				.left 
					.radio-block 
						.radio-white.d-flex 
							div 
								img(src="img/common/sloy_78_1207.jpg", alt="img")
								.radio-rating
									.radio-rating_count 320
									p Rating
							.radio-info 
								.align-items-center
									a.country(href="#") United Kingdom, London 
									p.fm 104.2 FM
								h2.radio-title Smooth Jazz Mix New York
								.align-items-center
									a.tag(href="#") Chillout, 
									a.tag(href="#") Relax
								.flex-wrap.align-items-center.pb-15
									p.text-small.mt-10 Link
									a.link.icon-url.mt-10(href="#") floesdesign
									a.link.icon-lang.mt-10(href="#") English
									a.link.icon-facebook.mt-10(href="#") Facebok
									a.link.icon-twitter.mt-10(href="#") Twitter
								.align-items-center.mt-5 
									p.text-small.mr-10 Adress
									p.text-small.c-gray-400 From the Black Eyed Peas to Usher
								.align-items-center.mt-5 
									p.text-small.mr-10 Email
									p.text-small.c-gray-400 info@gmail.com
								.align-items-center.mt-5
									p.text-small.mr-10 Telephone
									p.text-small.c-gray-400 +3789 9870 000
								
						.radio-right
							div
								audio(preload='none' controls='' aria-label="1")
									source(src='http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3' type='audio/mp3')
								.flex-center-center
									.rate-area
										input#5-star(type='radio' name='rating' value='5')
										label(for='5-star' title='Amazing') 
										input#4-star(type='radio' name='rating' value='4')
										label(for='4-star' title='Good') 
										input#3-star(type='radio' name='rating' value='3')
										label(for='3-star' title='Average')
										input#2-star(type='radio' name='rating' value='2')
										label(for='2-star' title='Not Good') 
										input#1-star(type='radio' name='rating' value='1')
										label(for='1-star' title='Bad')

									p.rating-text Vote 991 users
								.flex-center-center 
									.weight.bg-yellow 64kbps
									.weight 128kbps
							div
								hr 
									
								button.btn-like.mx-auto(type="button")
									span.align-items-center like
									| 298
					p.c-dark.p-20 From the Black Eyed Peas to Usher, the Hitz Channel plays Todays Best Music, not just some of it. You'll also get a taste of the old skool mixed in for flava. The hottest music from today's hottest stars can be found right here on .977 The Hits Channel.
					
					.tracks 
						- 
							plaed = [
								{
									poster: 'sloy_78_1207.jpg',
									achtor: 'Ann Sophie',
									name: 'Black Smoke',
								}
							]
						.w-lg-50
							p.titleB Last tracks played
							ul.plaed-list
								each val in plaed
									li.flex-center-between 
										.align-items-center
											a(href="#") 
												img(src="img/common/"+val.poster, alt="img")
											div 
												a.plaed-achtor(href="#")=val.achtor 
												a.plaed-name(href="#")=val.name
										.align-items-center
											a.youtube(href="#") 
											.plaed-time.now now
									-var n = 4
									while n--
										li.flex-center-between 
											.align-items-center
												a(href="#") 
													img(src="img/common/"+val.poster, alt="img")
												div 
													a.plaed-achtor(href="#")=val.achtor 
													a.plaed-name(href="#")=val.name
											.align-items-center
												a.youtube(href="#") 
												.plaed-time 16:20
							a.btn-more2(href="#") show more
						.w-lg-50.pl-lg-20  
							p.titleB.b-red top tracks
							ul.plaed-list.list-counter
								each val in plaed
									-var n = 5
									while n--
										li.flex-center-between 
											.align-items-center
												.number
												a(href="#") 
													img(src="img/common/"+val.poster, alt="img")
												div 
													a.plaed-achtor(href="#")=val.achtor 
													a.plaed-name(href="#")=val.name
											.align-items-center
												a.youtube.active(href="#") 
							a.btn-more2(href="#") show more
					
					section.radio-stations 
						h4.title4 similar radio stations
						.flex-wrap
							-var n = 5
							while n-- 
								.radio-card
									a(href="#") 
										img(src="img/common/", alt="alt")
									.radio-card_bottom
										a.country(href="#") United Kingdom
										a.radio-name(href="#") OASIS UNIVERSAL RASDIO
						a.btn-more2.mx-auto(href="#") show more

				.right 
					.banner BANNER
			
				

	include modules/footer/footer
	.players
		.container
			.media-wrapper
				.players-item.players-side
					img(src="img/common/sloy_78_1207.jpg", alt="img")
					div 
						a(href="#") GotRadio - Classic Hits
						p What's Love Got To Do With It - Tina Turner

				.players-action
					button.prev.arrow-player(type="button")

					audio(preload='none' controls='' aria-label="1")
						source(src='http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3' type='audio/mp3')

					button.next.arrow-player(type="button")
				.players-side
					button.btn-favorites(type="button")


block script
	script(src="js/mediaelement-and-player.min.js")
	script(src='js/audio.js')






