extends layout/main

block variables
	-var title = 'catalog 2'

block link
	link(rel="stylesheet" type='text/css' href="css/libs.css")

block content
	main.catalog
		.container 
			.flex-wrap
				.sidebar(data-item="sidebar")
					button.close(type="button" data-close)
					.filter
						p.titleB ganres
						form.search.search-filter 
							input(type="text")
							button(type="sumbit")
						ul.list.list-sidebar 
							each val, index in [{link: 'Rock', count: '92'},{link: 'RnB', count: '110'},{link: 'Alternative', count: '90'},{link: 'Country', count: '31'},{link: 'Pop', count: '1'},{link: 'Top 40', count: '4'},{link: 'Classic', count: '40'},{link: 'Jazz', count: '32'},{link: 'Soul', count: '92'}, {link: 'Dance', count: '22'}, {link: 'Arabic', count: '1'}, {link: 'Blues', count: '3'}, {link: 'Dance', count: '22'}, {link: 'Arabic', count: '1'}, {link: 'Blues', count: '3'}]
								li(class=index > 11 ? 'd-none': 'isVisible')
									.list-item
										a(href="#")=val.link
										p 
											span.dash —
											=val.count
						button.btn-more(type="button") show more
					.filter
						p.titleB COUNTRY

						form.search.search-filter 
							input(type="text")
							button(type="sumbit")
						ul.list.list-sidebar 
							each val, index in [{link: 'United States', count: '92'},{link: 'Danmark', count: '99'},{link: 'Deutschland', count: '988'},{link: 'France', count: '92'},{link: 'Belgie', count: '81'},{link: 'Espana', count: '932'},{link: 'Canada', count: '331'},{link: 'Australia', count: '22'},{link: 'Espana', count: '932'},{link: 'Canada', count: '331'},{link: 'Australia', count: '22'},{link: 'Espana', count: '932'},{link: 'Canada', count: '331'},{link: 'Australia', count: '22'}]
								li(class=index > 8 ? 'd-none': 'isVisible')
									.list-item
										if (index == 3)
											a(href="#")=val.link
											.arr.arr-drop
											p
												span.dash.small —
												=val.count
										else
											a(href="#")=val.link
											p
												span.dash —
												=val.count
									if (index == 3)
										ul.drop-list.lv-1 
											each val, index in [{link: 'Danmark', count: '2'},{link: 'Deutschland', count: '1'},{link: 'Ibiza', count: '22'}]
												li 
													.list-item
														if (index == 2)
															a(href="#")=val.link
															.arr.arr-drop
															p
																span.dash.small —
																=val.count
														else
															a(href="#")=val.link
															p
																span.dash —
																=val.count
													if (index == 2)
														ul.drop-list.lv-2 
															each val, index in [{link: 'Elebento', count: '23'},{link: 'Sevya', count: '1'}]
																li 
																	.list-item
																		.dash —
																		a(href="#")
																			=val.link
																		p
																			span.dash.small —
																			=val.count
						button.btn-more(type="button") show more
					.filter
						p.titleB Languages

						form.search.search-filter 
							input(type="text")
							button(type="sumbit")
						ul.list.list-sidebar 
							each val, index in [{link: 'Algeria', count: '32'},{link: 'Argentina', count: '92'},{link: 'Bangladesh', count: '33'},{link: 'Bolivia', count: '778'},{link: 'Bosnia and Herzegovina', count: '1'},{link: 'Brasil', count: '2'},{link: 'Bulgaria', count: '32'},{link: 'Bulgaria', count: '32'},{link: 'Bulgaria', count: '32'}]
								li(class=index > 7 ? 'd-none': 'isVisible')
									.list-item
										if (index == 3)
											a(href="#")=val.link
											.arr.arr-drop
											p
												span.dash.small —
												=val.count
										else
											a(href="#")=val.link
											p
												span.dash —
												=val.count
						button.btn-more(type="button") show more
				.content
					nav
						ul.breadcrumbs
							+breadcrumbs-item("Raddio.net", "#")
							+breadcrumbs-item("Top station", "#")
							+breadcrumbs-item("Page name active")
					h2.title Alternative
					form.search
						input(type="text" placeholder="Find a station by name or city ....")
						button(type="sumbit")
							span Search
					p.text Alternative rock also called alternative music, alt-rock or simply alternative is a genre of rock music that emerged from the independent music underground of the 1980s and became widely popular in the 1990s and 2000s. In this instance, the word "alternative" refers to the genre's distinction from mainstream rock music.
					.flex-sm-center-between
						ul.sort 
							each val, index in ['new','most liked','listening now']
								li 
									a(href="#" class=index==0 ? 'active': '')=val
						button.btn-filter(type="button" data-open="sidebar") 

					ul.playlists 
						-var n = 8
						while n--
							li.playlist 
								.d-flex
									a(href="#") 
										img(src="img/common/sloy_78_1207.jpg" alt="img")
									.playlist-content 
										div
											a.name(href="#") GotRadio - Classic Hits
											.flex-wrap

												.align-items-center.tags
													a.tag(href="#") Chillout, 
													a.tag(href="#") Relax
												a.country(href="#") United Kingdom, London 
												p.fm 104.2 FM
										.flex-wrap.playlist-info
											.views 1 980
											.likes 8 900
											button.btn-like(type="button" data-open="popup-players")
												span.align-items-center like
												| 298
								audio(preload='none' controls='' aria-label="1")
									source(src='http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3' type='audio/mp3')
						li.playlist 
							a(href="#") 
								img(src="img/common/sloy_78_1207.jpg" alt="img")
							.playlist-content 
								div
									a.name(href="#") GotRadio - Classic Hits
									.flex-wrap

										.align-items-center.tags
											a.tag(href="#") Chillout, 
											a.tag(href="#") Relax
										a.country(href="#") United Kingdom, London 
										p.fm 104.2 FM
								.flex-wrap.playlist-info
									.views 1 980
									.likes 8 900
									button.btn-like(type="button" data-open="popup-players")
										span.align-items-center like
										| 298
							audio(preload='none' controls='' aria-label="1")
								source(src='http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3' type='audio/mp3')
					+pagination(adjacents, 280, 10, currentPage, base, arrow)

	include modules/footer/footer
	
	include layout/players

	.popup(data-item="popup-players")
		.popup-container
			button.close(type="reset" data-open="popup-players")
			.d-flex.popup-player 
				img(src="img/common/sloy_78_1207.jpg", alt="img")
				.align-items-center.popup-player_item
					audio(preload='none' controls='' aria-label="1")
						source(src='http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3' type='audio/mp3')

					.players-item 
						a(href="#") GotRadio - Classic Hits
							span.live LIVE
						p What's Love Got To Do With It - Tina Turner

block script
	script(src="js/mediaelement-and-player.min.js")
	script(src='js/audio.js')
