extends layout/main

block variables
	-var title = 'station'

block link
	link(rel="stylesheet" type='text/css' href="css/libs.css")

block content
	main.station-main
		.container 
			nav
				ul.breadcrumbs
					+breadcrumbs-item("Raddio.net", "#")
					+breadcrumbs-item("Top station", "#")
					+breadcrumbs-item("Page name active")
			.flex-wrap
				.left 
					.radio-block 
						.radio-white 
							.d-flex 
								.radio-white_left 
									img(src="img/common/sloy_78_1207.jpg", alt="img")
									.radio-rating
										.radio-rating_count 320
										p Rating
								.radio-info 
									.align-items-center.flex-wrap
										.country.flex-wrap 
											a(href="#") United Kingdom
											p.comma , 
											a(href="#") London 
										p.fm 104.2 FM
									h2.radio-title Smooth Jazz Mix New York
									.align-items-center
										a.tag(href="#") Chillout, 
										a.tag(href="#") Relax
									.flex-wrap.align-items-center.pb-15
										p.text-small.mt-10 Link
										a.link.icon-url.mt-10(href="#") floesdesign
										a.link.icon-lang.mt-10(href="#") English
										a.link.icon-facebook.mt-10(href="#") Facebok
										a.link.icon-twitter.mt-10(href="#") Twitter
									.d-sm-block.d-none
										.align-items-center.mt-5 
											p.text-small.mr-10 Adress
											p.text-small.c-gray-400 From the Black Eyed Peas to Usher
										.align-items-center.mt-5 
											p.text-small.mr-10 Email
											p.text-small.c-gray-400 info@gmail.com
										.align-items-center.mt-5
											p.text-small.mr-10 Telephone
											p.text-small.c-gray-400 +3789 9870 000
										button.btn-update.mt-10(type="button" data-open="popup-form") update station
							
							.d-sm-none
								.align-items-center.mt-5 
									p.text-small.mr-10 Adress
									p.text-small.c-gray-400 From the Black Eyed Peas to Usher
								.align-items-center.mt-5 
									p.text-small.mr-10 Email
									p.text-small.c-gray-400 info@gmail.com
								.align-items-center.mt-5
									p.text-small.mr-10 Telephone
									p.text-small.c-gray-400 +3789 9870 000
								button.btn-update.mt-10(type="button" data-open="popup-form") update station
						.radio-right
							div
								audio(preload='none' controls='' aria-label="1")
									source(src='http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3' type='audio/mp3')
								.flex-center-center
									.rate-area
										input#5-star(type='radio' name='rating' value='5')
										label(for='5-star' title='Amazing') 
										input#4-star(type='radio' name='rating' value='4')
										label(for='4-star' title='Good') 
										input#3-star(type='radio' name='rating' value='3')
										label(for='3-star' title='Average')
										input#2-star(type='radio' name='rating' value='2')
										label(for='2-star' title='Not Good') 
										input#1-star(type='radio' name='rating' value='1')
										label(for='1-star' title='Bad')

									p.rating-text Vote 991 users
								.flex-center-center 
									label
										input.checkbox(type="radio" name="radio-weight" checked)
										span.checkbox-weight 64kbps
									label 
										input.checkbox(type="radio" name="radio-weight")
										span.checkbox-weight 128kbps
							div
								hr 
									
								button.btn-like.mx-auto(type="button" data-open="popup-players")
									span.align-items-center like
									| 298
					p.c-dark.p-20 From the Black Eyed Peas to Usher, the Hitz Channel plays Todays Best Music, not just some of it. You'll also get a taste of the old skool mixed in for flava. The hottest music from today's hottest stars can be found right here on .977 The Hits Channel.
					
					.tracks.flex-wrap 
						- 
							plaed = [
								{
									poster: 'sloy_78_1207.jpg',
									achtor: 'Ann Sophie',
									name: 'Black Smoke',
								}
							]
						.w-md-50.w-100
							p.titleB Last tracks played
							ul.plaed-list
								each val in plaed
									li.flex-center-between 
										.align-items-center
											a(href="#") 
												img(src="img/common/"+val.poster, alt="img")
											div 
												a.plaed-achtor(href="#")=val.achtor 
												a.plaed-name(href="#")=val.name
										.align-items-center
											a.youtube(href="#") 
											.plaed-time.now now
									-var n = 4
									while n--
										li.flex-center-between 
											.align-items-center
												a(href="#") 
													img(src="img/common/"+val.poster, alt="img")
												div 
													a.plaed-achtor(href="#")=val.achtor 
													a.plaed-name(href="#")=val.name
											.align-items-center
												a.youtube(href="#") 
												.plaed-time 16:20
							a.btn-more_tracks(href="#") show more
						.w-md-50.pl-md-20.w-100  
							p.titleB.b-red top tracks
							ul.plaed-list.list-counter
								each val in plaed
									-var n = 5
									while n--
										li.flex-center-between 
											.align-items-center
												.number
												a(href="#") 
													img(src="img/common/"+val.poster, alt="img")
												div 
													a.plaed-achtor(href="#")=val.achtor 
													a.plaed-name(href="#")=val.name
											.align-items-center
												a.youtube.active(href="#") 
							a.btn-more_tracks(href="#") show more
					
					section.radio-stations 
						h4.title4 similar radio stations
						.list.flex-wrap.slider-x_lg
							-var n = 5
							while n-- 
								.radio-card.isVisible
									a(href="#") 
										img(src="img/common/pryamougolnik__skrugl_ugly_505_kopiya_1424.jpg", alt="alt")
									.radio-card_bottom
										a.country(href="#") United Kingdom
										a.radio-name(href="#") OASIS UNIVERSAL RASDIO
							-var n = 5
							while n-- 
								.radio-card.d-none
									a(href="#") 
										img(src="img/common/pryamougolnik__skrugl_ugly_505_kopiya_1424.jpg", alt="alt")
									.radio-card_bottom
										a.country(href="#") United Kingdom
										a.radio-name(href="#") OASIS UNIVERSAL RASDIO
						button.btn-more._2.mx-auto(type="button") show more
					section.comments-stations 
						.flex-wrap 
							h4.title4.icon-comments.mr-30 COMMENTS
							a.add-comment(href="#") Add comment
						form.align-items-center.pl-40.mt-24
							.rate-area.big
								input#5-star(type='radio' name='ratingadd' value='5')
								label(for='5-star' title='Amazing') 
								input#4-star(type='radio' name='ratingadd' value='4')
								label(for='4-star' title='Good') 
								input#3-star(type='radio' name='ratingadd' value='3')
								label(for='3-star' title='Average')
								input#2-star(type='radio' name='ratingadd' value='2')
								label(for='2-star' title='Not Good') 
								input#1-star(type='radio' name='ratingadd' value='1')
								label(for='1-star' title='Bad')

							p.rating-text Set your rating
						.form-comments
							textarea(name="", cols="20", rows="5") Comments ...
							button.btn.ml-auto(type="submit") Send
						
						ul.comments-list.list 
							each val in ['1','2','3'] 
								li.isVisible 
									.d-flex
										img.comments_avatar(src="img/icons/profile-user.svg", alt="avatar")
										div 
											.align-items-center
												.rate-area
													input#5-star(type='radio' name='rating-'+val value='5' checked)
													label(for='5-star' title='Amazing') 
													input#4-star(type='radio' name='rating-'+val  value='4' checked)
													label(for='4-star' title='Good') 
													input#3-star(type='radio' name='rating-'+val  value='3' checked)
													label(for='3-star' title='Average')
													input#2-star(type='radio' name='rating-'+val  value='2')
													label(for='2-star' title='Not Good') 
													input#1-star(type='radio' name='rating-'+val  value='1')
													label(for='1-star' title='Bad')
												p.comments_user eleonora
												p.comments_date 12.02.2020 
											p.comments_text From the Black Eyed Peas to Usher, the Hitz Channel plays Todays Best Music, not just some of it. You'll also get a taste of the old skool mixed in for flava. The hottest music from today's hottest stars
								
							li.d-none 
								.d-flex
									img.comments_avatar(src="img/common/profile-user.svg", alt="avatar")
									div 
										.align-items-center
											.rate-area
												input#5-star(type='radio' name='rating' value='5' checked)
												label(for='5-star' title='Amazing') 
												input#4-star(type='radio' name='rating' value='4' checked)
												label(for='4-star' title='Good') 
												input#3-star(type='radio' name='rating' value='3' checked)
												label(for='3-star' title='Average')
												input#2-star(type='radio' name='rating' value='2')
												label(for='2-star' title='Not Good') 
												input#1-star(type='radio' name='rating' value='1')
												label(for='1-star' title='Bad')
											p.comments_user eleonora
											p.comments_date 12.02.2020 
										p From the Black Eyed Peas to Usher, the Hitz Channel plays Todays Best Music, not just some of it. You'll also get a taste of the old skool mixed in for flava. The hottest music from today's hottest stars
						
						button.btn-more._2.mx-auto(type="button") show more


				.right 
					a.banner(href="#") BANNER
					.radio-stations
						p.titleB Radio stations
						ul.plaed-list
							each val in plaed
								-var i = 5
								while i--
									li.align-items-center
										a(href="#")
											img(src="img/common/"+val.poster, alt="img")
										div 
											a.plaed-achtor(href="#")=val.achtor 
											a.plaed-name(href="#")=val.name
				
				

	include modules/footer/footer
	include layout/players

	.popup(data-item="popup-form") 
		
		form.popup-container.stopPropagation 
			button.close(type="reset" data-open="popup-form")
			h2.pb-15.mx-auto update station
			label 
				span * 
				| Web Name
			input(type="text" required)
			label 
				span * 
				| Web Email
			input(type="Email" required)
			label 
				span * 
				| Subject
			input(type="text" required)
			label 
				span *
				| Description
			textarea(name="", cols="10", rows="5" required) 

			button.btn(type="submit") submit
	
	.popup(data-item="popup-players")
		.popup-container
			button.close(type="reset" data-open="popup-players")
			.d-flex.popup-player 
				img(src="img/common/sloy_78_1207.jpg", alt="img")
				.align-items-center.popup-player_item
					audio(preload='none' controls='' aria-label="1")
						source(src='http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3' type='audio/mp3')

					.players-item 
						a(href="#") GotRadio - Classic Hits
							span.live LIVE
						p What's Love Got To Do With It - Tina Turner
block script
	script(src="js/mediaelement-and-player.min.js")
	script(src='js/audio.js')






